body{
    display: flex;
    justify-content: center;
    font-family: roboto, sans-serif;
    background-color: black;
    color: white;
    border: none;
    padding:0 60px;
}



.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 4px 50px;
    background-color: rgb(146, 177, 177);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

img{
    height: 50px;
}

p{
    display: flex;
    align-items: center;
    font-size: 10px;
}

.tabs{
    display: flex;
    gap: 10px;
}

ul{
    list-style: none;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

.row2{
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    gap: 10px;
    background-color: rgb(146, 177, 177);
}

.info{
    padding:15px 100px;
}

h1{
    font-size: 20px;
}

p{
    font-size: 10px;
}

.placeholder{
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding:15px 100px;
}

.btn{
    border: none;
    background-color: rgb(66, 231, 231);
    border-radius: 4px;
    cursor: pointer;
    color:antiquewhite;
}
.btn:hover{
    background-color: rgb(66, 231, 231, 0.5);
}

.row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 20px 50px;
}

.row3 > h1{
    text-align: center;
    padding: 10px;
}

.images{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.row4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    background-color: rgb(89, 110, 110);
}

.row4 > p{
    padding:20px 300px;
}

.quote{
    text-align:right;
    font-size: 10px;
    padding:20px 300px;
}

.row5{
    border:white solid 40px;
}

.bd{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: blue;
    
    border: none;
    border-radius: 8px;
}

.action > h1{
    font-size: 10px;
}

.action > p{
    font-size: 8px;
}

.btn1{
    border: white solid 1px;
    font-size: 10px;
    cursor: pointer;
    background-color: blue;
    border-radius: 4px;
    color: white;
}
.btn1:hover{
    background-color: rgb(26, 199, 199, 0.5);
}

.row6{
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    background-color: rgb(146, 177, 177);
}